<body>
  <table width="600" align="center" bordercolor="#cccccc" cellspacing="0" cellpadding="0" bgcolor="#f9f9f9" border="1">
      <tr>
          <td align="center">
              <table cellspacing="40" cellpadding="0" bgcolor="#ffffff" border="0">
                  <tr>
                      <td align="center">
                          <img src="https://st4.depositphotos.com/5868334/23631/v/450/depositphotos_236316858-stock-illustration-creative-strong-initial-letter-logo.jpg" alt='Company Logo' width="200" height="auto" style="margin-bottom: 20px;">
                          <h1 style="color: #333333; font-weight: bold; margin-bottom: 15px;">Password Change Request</h1>
                          <p style="margin-bottom: 10px;">To reset your SmartThreads password. Please click the button below:.</p>
                          <p style="margin-bottom: 10px;"><a href="{reset_link}" style="color: #007bff; text-decoration: none;">Reset Password</a></p>
                          <p>If you did not request this change, please ignore this email or contact support.</p>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
  </table>
  
          </td>
      </tr>
  </table>
  <br>
  <br>
</body>